data:
  train_bs: 1
  train_width: 512
  train_height: 512
  fps: 25
  meta_paths:
    - "./data/new_LGCI_stage2.json"
  sample_rate: 16000
  n_sample_frames: 12
  audio_margin: 2
  n_motion_frames: 2
inference_steps: 40
cfg_scale: 3.5

wav2vec_config:
  audio_type: "vocals" # audio vocals
  model_scale: "base" # base large
  features: "all" # last avg all
  model_path: ./pretrained_weights/wav2vec/wav2vec2-base-960h
audio_separator:
  model_path: ./pretrained_weights/audio_separator/Kim_Vocal_2.onnx
face_expand_ratio: 1.2

solver:
  gradient_accumulation_steps: 1
  mixed_precision: 'fp16'
  enable_xformers_memory_efficient_attention: false 
  gradient_checkpointing: False
  max_train_steps: 32500
  max_grad_norm: 1.0
  # lr
  learning_rate: 1e-5
  scale_lr: False 
  lr_warmup_steps: 1
  lr_scheduler: 'constant'

  # optimizer
  use_8bit_adam: True 
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay:  1.0e-2
  adam_epsilon: 1.0e-8

trainable_para:
  - audio_modules
  - motion_modules

val:
  validation_steps: 500


noise_scheduler_kwargs:
  num_train_timesteps: 1000
  beta_start:          0.00085
  beta_end:            0.012
  beta_schedule:       "linear"
  steps_offset:        1
  clip_sample:         false

base_model_path: './pretrained_weights/stable-diffusion-v1-5'
vae_model_path: './pretrained_weights/sd-vae-ft-mse'
image_encoder_path: './pretrained_weights/sd-image-variations-diffusers/image_encoder'
mm_path: './pretrained_weights/mm_sd_v15_v2.ckpt'

weight_dtype: 'fp16'  # [fp16, fp32]
uncond_img_ratio: 0.05
uncond_audio_ratio: 0.05
uncond_ratio: 0.1
noise_offset: 0.05
snr_gamma: 5.0
enable_zero_snr: True 
stage1_ckpt_dir: './new_lgci_expriments_1/stage1'
stage1_ckpt_step: 49700
motion_scale: [1.0, 2.0, 3.0]

seed: 12580
resume_from_checkpoint: ''
checkpointing_steps: 500
exp_name: 'stage2'
output_dir: './test_forGPU_use' 
single_inference_times: 10

ref_img_path:
  # - "examples/reference_images/1.png"
  - "data/our_data/test/init_frames/oliver#103786_slice0.png"
audio_path:
  - "data/our_data/test/ours_2600/audios/oliver#103786_slice0.wav"
  # - "data_test/audios/_B9A3J70IPQ_clip_11_segment_1.wav"
pose_vid_path: "data/our_data/test/ours_3400/oliver#103786_slice0.mp4"
face_mask_path: "data/our_data/test/ours_2600/face_mask/oliver#103786_slice0.mp4"
lips_mask_path: "data/our_data/test/ours_2600/lips_mask/oliver#103786_slice0.mp4"
